<%- include('header') %>
    <main>

      <h2>Quiz Creator's Result Page : <%= quiz.creator_name %></h2>
      <section class="myQuiz">

        <h3 class="quiz_title"><%= quiz.title %></h3>
        <span class="title_share_option private">private</span>

        <!--when you click this BT the #view_quiz div will appear-->
        <div>
          <a href="#" id="view_quiz" class="shareBT">View quiz Content</a>
        </div>

        <div id="view_quiz_display">
          <p><%= quiz.question %></p>
          <ol>
            <!--a class will be added on the correct answer-->
            <li id="option1" class="correct"><%= quiz.correctanswer %></li>
            <li id="option2"><%= quiz.wronganswer %></li>
          </ol>
        </div>

        <div class="maker_quiz_result">
          <table class="result_table">
            <tr>
              <th>Taker</th>
              <th>Answer</th>
            </tr>
            <tr>
              <td>taker1</td>
              <td>correct</td>
            </tr>
            <tr>
              <td>taker1</td>
              <td>failed</td>
            </tr>
          </table>


          <p>Total <span>quiz(attempt)</span> attempt</p>
          <p><span>correct answer attempt / total attempt * 100 </span>% of attemptation answered correctly.</p>
        </div>
      <!--To sharee maker's result link-->
      <div class="share">
        <span>quiz result page URL</span> <a href="#" class="shareBT">Share this result</a>
      </div>


    </main>

  </body>
</html>
